*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body{
    overflow-x: hidden;
}


main{
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    /* padding-left: 50px; */
    background-position: center;
}

.mainimg2 img{
    position: fixed;
    top: 70px;
    height: 90vh;
    width: 100vw;
    background-position: bottom;
    object-position: center;
}


.flash {
    color: #2A66B0;
    font-size: 1.4rem;
}


.sidenote2{
    width: 500px;
    /*  */
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.568);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    /*  */
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    margin: auto;
    margin-top: 5%;
    margin-right: 25%;
    /* position: absolute;
    top: 25%;
    left: 35%; */
    color: white;
}

.sidenote2 h1{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.sidenote2-p{
    font-size: .8rem;
    width: 400px;
    margin-left: 30px;
}

.sidenote2 button{
    display: flex;
    background-color: #2A66B0;
    border: none;
    color: white;
    align-items: center;
    width: 230px;
    justify-content: space-around;
    font-size: 1rem;
    height: 40px;
    padding: 6px 5px 5px 5px;
    border-radius: 8px;
    font-weight: bold;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

}


.sidenote2 button p{
    margin-top: 10px;
}

.box{
    position: fixed;
    top: 30px;
    right: -80px;
    z-index: 1;
    height: 100px;
}
.box2{
    position: fixed;
    bottom: 250px;
    left: -50px;
    z-index: 1;
    height: 100px;
}



.box img{
    height: 400px;
    z-index: -2;
}
.box2 img{
    height: 400px;
    z-index: -2;
}


/* GENERAL NAV BAR EDITS STARTS HERE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Poppins', sans-serif;
}


nav{
    background-color: white;
    padding: 5px;
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}


nav img{
    width: 200px;
    background-color: white;
    margin: auto;
}
/* GENERAL NAV BAR EDITS ENDS HERE */

/* FOOTER STARST HERE */

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/* accessButtons starts here */
.accessButtons{
    display: flex;
    justify-content: space-around;
}

.accessButtons button{
    height: 50px;
}

.accessButtons2 button{
    align-items: center;
}

.accessButtons2 img{
    margin-bottom: 5px;
}

.accessButtons1 button{
    background-color: #E1E7FC;
    width: 150px;
    color: #2A65AE;
}

/* accessButtons ends here */

.mobileSection{
    display: none;
}
@media only screen and (max-width: 1144px) {
    .sidenote-p, .accessButtons{
        display: none;
    }
    .mobileSection{
        display: block;
        text-align: center;
        width: 80%;
        font-size: 5.3rem;
        margin: auto;
        margin-top: 100px;
    }

    .sidenote2{
        width: 100%;
        /*  */
        /* From https://css.glass */
        background: rgba(0, 0, 0, 0.568);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.459);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        /*  */
        padding: 20px;
        border-radius: 10px;
        z-index: 2;
        margin: auto;
        margin-top: 5%;
        margin-left:35%;
        /* position: absolute;
        top: 25%;
        left: 35%; */
        color: white;
    }
  }